<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <main>
    <div class="map"></div>
    <div class="search-bar">
      <button class="menu-btn"><i class="fa fa-bars"></i></button>
      <form class="search-form" action="">
        <input class="search-input" type="text" placeholder="Search your destination">
      </form>
      
    </div>
    <div class="menu">
      <div class="test">
        <label class="container">One
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">Two
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">Three
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="about">About</div>
    <div class="model">
      <div class="about-box">
        <div class="about-close">
          <button class="about-close-btn"><i class="far fa-times-circle"></i></button>
        </div>
        <p class="about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatem sunt odit aliquid quibusdam velit! Vitae autem natus maiores fugit porro velit molestiae? Laudantium harum, rem magni fugiat sunt ea!</p>
        
      </div>
    </div>
    

  </main>
  <%# <script src="app.js"></script> %>
</body>
</html>