/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: ‘Open Sans’, sans-serif;
}

 main {
  display: flex;
  /* z-index: -3; */
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  /* background-color: bisque; */
}

.map {
  position: relative;
  /* z-index: ; */
  width: 100vw;
  height: 95vh;
  background-color: cornflowerblue;
}

.search-bar {
  position: absolute;
  z-index: 2;
  margin: 15px;
  width: 340px;
  height:auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding:3px 3px 3px 3px;
  border-radius: 5px;
}
.menu-btn{
  cursor: pointer;
  height: 30px;
  width: auto;
  background-color: transparent;
  border: transparent;
  display: block;

}
#searchBox{
  height: 30px;
  width: 310px;
  border: none;
  font-size: 13px;
}

.fa {
  display: inline-block;
  font-size: 15px;
}
.far {
  color: white;
}

.label-container {
  position: absolute;
  z-index: 2;
  bottom: 15vh;
  right: 0px;
  width: 80px;
  color: white;
  background-color: rgb(73, 73, 73);
  font-size: 10px;
  align-items: center;
  padding: 4px 0;
  border-radius: 8px 0 0 8px;
}
.label-color{
  width: 50px;
  height:5px;
  background-color: red;
  margin: auto auto 1px auto;
}
.lebel-text{
 text-align: center; 
}
.label{
  margin: 6px 0;
}
#unoccupied {
  background-color: rgba(0, 255, 0, 0.5);
}
#occupied {
  background-color: rgba(255, 0, 255, 0.5);
}
#no-sensor {
  background-color: rgba(180, 180, 180, 0.5);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1003;
  height:5vh;
  width:100vw;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  color: white;
  background-color: rgb(73, 73, 73);
}
.about {
  /* position: absolute;
  z-index: 1003; */
  /* margin-bottom: 31px;
  margin-left: 5px; */
  padding:3px 3px 3px 10px;
  cursor: pointer;
 
}
.who-we-are {
  padding:3px 10px 3px 3px;
  font-size: 10px;
  /* cursor: pointer; */
}
.model {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 95vh;
  background-color: rgba(93, 94, 95, 0.47);
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  z-index: 1002;
}
.about-box {
  width: 60vw;
  /* height: 40vh; */
  background-color: rgb(73, 73, 73);
  color: white;
  border-radius: 10px;
}
.about-close{
  display: flex;
  justify-content:flex-end;
}

.about-close-btn{
  cursor: pointer;
  height: 15px;
  width: auto;
  background-color: transparent;
  border: transparent;
}
.about-text {
  padding:0px 10px 15px 10px;
}

.menu-list {
  position: absolute;
  z-index: -2;
  margin-left: 15px;
  margin-top: 60px;
  width: 100px;
  background-color: white;
  padding:3px 0px 3px 0px;
  border-radius: 5px;
  /* transition: width 0s; */
}
.active1 {
  /* width: 100px; */
  z-index: 2;
}

.container {
  display: none;
  position: relative;
  padding-left: 22px;
  margin: 6px auto 6px 6px;
  cursor: pointer;
  font-size: 15px;
  /* user-select: none; */
  /* transition-delay: 5s; */
  /* transition: opacity 4s ease-out;
  opacity: 0; */
}
.active2 {
  display: block;
  /* opacity: 1; */
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #eee;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media (max-width: 800px) {
  .search-bar {
    width: 64vw;
    margin-top:53px;
    left:18vw
  }

  #searchBox {
    width: 56vw;
  }
  .menu-list {
    margin-top: 95px;
    left:18vw
  }
}

